<nav>
  <a href="/" class="logo"><img src="/logo.png" alt="Logo" /></a>
  <a href="/" class="link"><span class="icon" aria-hidden="true"></span>Inicio</a>
  <a href="/sobremi/" class="link"><span></span>Sobre mí</a>
  <a href="/lego/" class="link"><span></span>LEGO</a>
  <a href="https://github.com/luis-y-bansibo" class="link"><span></span>GitHub</a>
</nav>
